@import url('https://fonts.googleapis.com/css?family=Dancing+Script');



@media (min-width:900px){
  .contenido{
    background-color: #02010a;
    max-width: 900px;
    margin-left: 325px;}

    header{
      height:60px;
      background-color: #5b7989;}

    #contenedor2{
      flex-direction: row;
      display: flex;


    }

    #imagen2{
      max-width: 50%;
    }

    #imagen3{
      max-width: 50%;
    }

    .contacto{
      width: 25%;
      text-align: center;
    }
    .terminos{
      width: 25%;
      text-align: center;
    }
    .redes{
      width: 25%;
      text-align: center;
    }
    .derechos{
      width: 25%;
      text-align: center;

    }
}

@media(max-width:899px){
  .contenido{
    background-color: #02010a;
    max-width: 100%;
    display: flex;
    flex-flow: column wrap;
  }

 header{
  flex-flow: column;
  text-align: center;
 }

 .contenedor1{
  flex-flow: column;
  }

  .contenedor1 img{

  flex-flow: column;
  }

  #contenedor2{
  flex-flow: column;
  }
  #contenedor2 img{
    width: 90%;
  }
  .contacto{
    text-align: left;
    flex-flow: column;
    padding-left: 40px;

  }
  .terminos{
    text-align: left;
    flex-flow: column;
    padding-left: 40px;
  }
  .redes{
    text-align: left;
    flex-flow: column;
    padding-left: 40px;
  }
  .derechos{
    text-align: left;
    flex-flow: column;
    padding-left: 40px;
  }
}

header {
  font-family: verdana;
  background-color:  #5b7989;
  color: white;
  height: auto;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;


}

header .logo{
  text-shadow: 2px 2px #02010a;

  font-size: 30px;
  line-height: 55px;
  padding-left: 20px;
  font-family: Dancing Script;

}

header nav{

font-size: 23px;
line-height: 17px;
padding: 20px 0px;


}

header nav a{
    display: inline-block;
    color:white;
    text-decoration: none;
    font-family:  Dancing Script;
    padding-right: 40px;
}

footer{
  background-color: #C6d5c5;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.contenedor1 img{
  box-shadow: 2px 2PX 2PX 2PX #02010a;
}
#contenedor2 img{
  box-shadow: 2px 2PX 2PX 2PX #02010a;
}
.contenedor1{
  background-color:#82c3a6;
  text-align: center;
  padding:40px;

}

.imagen1 img{
  width:90%;
}

#contenedor2{
background-color: #d5c75f;
padding: 20px;
overflow: hidden;
display: flex;
flex-wrap: wrap;

}

#imagen2 {


  text-align: center;
  font-family: dancing script;
  text-decoration: underline;


}

#imagen3 {


  text-align: center;
  font-family: dancing script;
  text-decoration: underline;


}
#imagen2 img{

  width: 80%;
  height: 80%;

}
#imagen3 img{

  width: 80%;
  height: 80%;
}


#imagen2 img:hover{
  transform: rotatez(10deg);
  box-shadow: 2px 2px 2px 2px #82c3a6;
}
#imagen3 img:hover{
transform: translate(20px,-5px);
box-shadow: 2px 2px 2px 2px #82c3a6;
}

.contacto {

  font-family: dancing script;
  font-size: 20px;

}

.terminos{


  font-family: dancing script;
  font-size: 20px;

}
.redes{


  font-family: dancing script;
  font-size: 20px;

}
.derechos{


  font-family: dancing script;
  font-size: 20px;

}

.redes img{
  width: 30px;
  margin: 0px;

}
